<style type="text/css">
#qrcode{width:100%;height: 100%;}
#qrcode img{width:100%;height: 100%;}
</style>
<div id="qrcode"></div>
<div id='url_short' style="font-size: 15px;padding-top: 10px;"></div>
<script type="text/javascript" src="__TEMPLATE__/static/js/qrcode.js"></script>
<script type="text/javascript">
	function get_qrcode(content,size,id){
		// 获取内容
		var content = content.replace(/(^\s*)|(\s*$)/g, "");
		// 获取尺寸
        var size = size;
        // 检查内容
        if(content==''){
            alert('请输入内容！');
            return false;
        }

        // 检查尺寸
        if(!/^[0-9]*[1-9][0-9]*$/.test(size)){
            alert('请输入正整数');
            return false;
        }

        if(size<100 || size>500){
            alert('尺寸范围在100～500');
            return false;
        }
        // 清除上一次的二维码
        if(qrcode){
            qrcode.clear();
        }

        // 创建二维码
        qrcode = new QRCode(document.getElementById(id), {
            width : size,//设置宽高
            height : size
        });

        qrcode.makeCode(content);
	}
	var	qrcode;
	get_qrcode(window.location.href,300,'qrcode');

	//生成短网址
    layui.use('jquery',function () {
        var $=layui.$;
        var url_long=window.location.href;

        $.ajax({
            "url":'https://api.weibo.com/2/short_url/shorten.json?source=2849184197&url_long=' + url_long,
            'type':'get',
            'dataType':'jsonp',
            'cache':false,
            success:function (data) {
                if(data['code'] == 1){
                    var url=data['data']['urls'][0]['url_short'];
                    $('#url_short ').append(url);
                }
            },
            error:function () {
                console.log('获取短链接失败')
            }
        });
    });

</script>