{include file="public/header" /}
{include file="public/breadcrumb" /}
<!-- 视频 开始 -->
<div class="main">
	<div class="page_left">	
	<div class="detail_container trans_3">
		<h1>{$data['title']|default=''}</h1>
		<div class="date_hits layui-row">
			<span class="layui-col-xs4 layui-col-sm4 layui-col-md4"><i>发布时间：</i>{$data['create_time']|format_datetime}</span>
			<span class="layui-col-xs4 layui-col-sm4 layui-col-md4"><i>热度：</i> {$data['hits']|default='0'} ℃</span>
			<span class="layui-col-xs4 layui-col-sm4 layui-col-md4"><i>评论数：</i> <span class="lemon_comment_num">{$data['comment_num']|default=0}</span></span>
		</div>
		<div class="layui-row">
			<div class="layui-col-xs12 layui-col-sm12 layui-col-md12" style="padding: 10px">
				<video src="{$data.video_url}" style="width: inherit" controls="controls" controlsList="nodownload"></video>
			</div>

		</div>

		<div class="content">{$data['content']|default=''|html_entity_decode}</div>
		{notempty name="data['keywords']"}
			<div class="keywords"><p>{$data['keywords']}</p></div>
		{/notempty}
		<div class="prev_next">
			<!--<div class="prev" style="float: left;width: 50%">上一篇：<a href="{$data['prev']['url']|default=''}">{$data['prev']['title']|default=''}</a></div>
			<div class="next" style="float: left;width: 50%">下一篇：<a href="{$data['next']['url']|default=''}">{$data['next']['title']|default=''}</a></div>-->
			<div class="clear"></div>
		</div>
		<!--评论-->
		{include file="public/comment" /}
		<!--评论end-->
	</div>
	</div>
	<div class="page_right">
		<div class="second_categorys_container">
			<h3>栏目导航</h3>
			<ol class="seond_category trans_3">
				{volist name="second_category" id="vo"}
					<li {if $data['category_id']==$vo['id']}class="selected"{/if}><a href="{$vo['url']}" class="layui-btn layui-btn-primary trans_1">{$vo['name']}</a></li>
				{/volist}
			</ol>	
		</div>
		<div class="mobile_qrcode_container">
			<h3>手机扫码访问</h3>
			<div class="mobile_qrcode wechat_qrcode trans_3">
				{include file="public/qrcode" /}
			</div>
		</div>

	</div>
	<div class="clear"></div>
</div>
<script type="text/javascript">
layui.use(['code'], function(){ //加载code模块
    var $=layui.$;
  	layui.code({
	  title: '代码如下'
	  ,skin: 'notepad' //如果要默认风格，不用设定该key。
	  ,about: false
	});

    $(document).ready(function(){
        $('video').bind('contextmenu',function() { return false; });
    });



});
</script>
<!-- 视频 结束 -->
{include file="public/footer" /}